@import '~/assets/styles/settings.sass'

.button
  background: none
  color: $text-color
  border: 1px solid $green
  padding: 5px 15px
  border-radius: 5px
  cursor: pointer
  transition: color .3s, background .3s

  &:hover
    background: $green
    color: white
