<h1 class="page-title">
    <p class="page-title__item" v-for="(item, index) in title" :key="index">
        {{ item }}
        <template v-if="index !== title.length - 1">&nbsp;</template>
    </p>
</h1>