<template>
  <div>
    <PageTitle text="Not Found" />
    <h3 class="code">
      404
    </h3>
    <nuxt-link to="/">
      Go to Home
    </nuxt-link>
  </div>
</template>

<script>
import PageTitle from '~/components/PageTitle/'

export default {
  name: 'NotFound404',
  layout: 'notFound',
  components: { PageTitle },
}
</script>
