<template>
  <div>
    <!-- <Spinner v-if="$wait.is('gettingUserData')" /> -->
    <!-- <template v-else> -->
    <PageTitle :text="fullName" />
    <h3 class="job-title">
      {{ userData.position }} @
      <ExternalLink
        :link="userData.company.link"
        :text="userData.company.name"
      />
    </h3>
    <p class="experience">
      <span class="experience__years-count">{{ experienceYears }}</span> years
      of experience
    </p>
    <p class="description">
      Please refer to
      <ExternalLink
        :link="userData.contacts.linkedin"
        text="my LinkedIn page"
      />
      to get more detailed description or
      <ExternalLink
        :link="email.link"
        :params="email.params"
        :options="['currentTab']"
        text="email me"
      />
      directly.
    </p>
    <!-- </template> -->
  </div>
</template>

<script>
import { differenceInMonths } from 'date-fns'
import { mapGetters } from 'vuex'

import ExternalLink from '~/components/ExternalLink/'
import PageTitle from '~/components/PageTitle/'
// import Spinner from '~/components/Spinner/'

export default {
  name: 'Home',
  components: {
    ExternalLink,
    PageTitle,
    // Spinner,
  },
  computed: {
    ...mapGetters(['userData']),
    experienceYears() {
      const months = differenceInMonths(
        new Date(),
        this.userData.startOfExperience
      )
      const years = (months / 12).toFixed(1)

      return years
    },
    fullName() {
      const { name, surname } = this.userData

      return `${name} ${surname}`
    },
    email() {
      return {
        link: `mailto:${this.userData.contacts.email}`,
        params: [
          {
            name: 'subject',
            value: 'An inquiry from your website',
          },
        ],
      }
    },
  },
}
</script>

<style lang="sass">
@import '~/assets/styles/settings.sass'

.experience
  &__years-count
    color: $green

.description
  max-width: 350px
</style>
