$dropHeight: 50px

.drop
  position: absolute
  top: -$dropHeight

  &.loaded
    animation: linear 10s drop

    img
      height: $dropHeight

@keyframes drop
  0%
    top: -$dropHeight

  100%
    top: 100%
