@import '~/assets/styles/settings.sass'
#__nuxt
  font-family: 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: $text-color
  width: 100%
  height: 100%
