<template>
  <div>
    <Rain />
    <Container>
      <nuxt />
    </Container>
  </div>
</template>

<script>
import Rain from '~/components/Rain/'
import Container from '~/components/Container'

export default {
  name: 'PageContainer',
  components: { Rain, Container },
}
</script>
