<template>
  <div>
    <Container>
      <nuxt />
    </Container>
  </div>
</template>

<script>
import Container from '~/components/Container'

export default {
  name: 'NotFoundLayout',
  components: { Container },
}
</script>
